In [1]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# plt.style.use('seaborn-dark')
# import seaborn as sns

# Steps:
## - Merge SDSS global data text file to the Merged table on SDSS RA column
<!-- ## - Merge Pipe3D table to merged table on SDSS RA column -->

In [8]:
# Read in BBRD tables

bbrd_ifu_match_df = pd.read_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/final_MaNGAdr16_bbrd_crossmatch.csv')
bbrd_global_df = pd.read_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/MM_bbrd126_sdss_table.csv')
bbrd_pipe3d_intergrated_df = pd.read_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/bbrd_intergrated_measure_pipe3D.csv') # missing plateifu: 11758-1901

# round to 2 sigfig RA and DEC to merge between dataframes
ifu_match_round_ra_dec_series = pd.Series([3, 3, 3, 3], index=['Objra', 'Objdec', 'SDSS_RA_deg', 'SDSS_DEC_deg'])
global_round_ra_dec_series = pd.Series([3, 3], index=['RASDSSinfo', 'DecSDSSinfo'])
#Apply rounding to dataframes
bbrd_ifu_match_df = bbrd_ifu_match_df.round(ifu_match_round_ra_dec_series)
bbrd_global_df = bbrd_global_df.round(global_round_ra_dec_series)


# merge MaNGA galaxies slected with final DR17 table
bbrd_ifu_match_global_df_merge =  pd.merge(left=bbrd_ifu_match_df, right=bbrd_global_df, left_on='SDSS_RA_deg', right_on='RASDSSinfo', how='left')
pipe3d_merged_ifu_global_df = pd.merge(left=bbrd_ifu_match_global_df_merge, right=bbrd_pipe3d_intergrated_df, left_on='plateifu', right_on='plateifu', how='left')

# Set plateifu as the index
pipe3d_merged_ifu_global_df.set_index(pipe3d_merged_ifu_global_df['plateifu'], inplace=True)


pipe3d_merged_ifu_global_df.to_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/bbrd_merged_database.csv')

In [10]:
# Read in LG12 tables

lg12_ifu_match_df = pd.read_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/final_MaNGAdr16_lg12_crossmatch.csv')
lg12_global_df = pd.read_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/MM_lg12_4643_sdss_table.csv')
lg12_pipe3d_intergrated_df = pd.read_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/lg12_intergrated_measure_pipe3D.csv') # missing plateifu: 11758-1901

# round to 2 sigfig RA and DEC to merge between dataframes
ifu_match_round_ra_dec_series = pd.Series([3, 3, 3, 3], index=['Objra', 'Objdec', 'SDSS_RA_deg', 'SDSS_DEC_deg'])
global_round_ra_dec_series = pd.Series([3, 3], index=['RASDSSinfo', 'DecSDSSinfo'])

# Apply rounding to dataframes
lg12_ifu_match_df = lg12_ifu_match_df.round(ifu_match_round_ra_dec_series)
lg12_global_df = lg12_global_df.round(global_round_ra_dec_series)


# merge MaNGA galaxies slected with final DR17 table
lg12_ifu_match_global_df_merge =  pd.merge(left=lg12_ifu_match_df, right=lg12_global_df, left_on='SDSS_RA_deg', right_on='RASDSSinfo', how='left')
pipe3d_merged_ifu_global_df = pd.merge(left=lg12_ifu_match_global_df_merge, right=lg12_pipe3d_intergrated_df, left_on='plateifu', right_on='plateifu', how='left')

# Set plateifu as the index
pipe3d_merged_ifu_global_df.set_index(pipe3d_merged_ifu_global_df['plateifu'], inplace=True)

# Save new dataframe as csv file
pipe3d_merged_ifu_global_df.to_csv('/Users/mmckay/Desktop/research/BreakBRD_LG12_analysis_repo/lg12_merged_database.csv')

In [ ]:
# master_table = pd.read_csv('/Users/mmckay/Desktop/research/FMR_MZR/bbrd_master_database.csv')

# # # Remove galzoo data
# # master_table.drop(master_table.loc[:, 'B':'D'].columns, axis = 1, inplace = True)

# master_table.head(7)

In [34]:
# Read in LG12 ifu matched data
lg12_ifu_match_df = pd.read_csv('/Users/mmckay/Desktop/research/FMR_MZR/final_MaNGAdr16_lg12_crossmatch.csv')
lg12_ifu_radec_round = pd.Series([3, 3], index=['Objra', 'Objdec'])
lg12_ifu_match_df = lg12_ifu_match_df.round(lg12_ifu_radec_round)

all_lg12_sample_df = pd.read_csv('/Users/mmckay/Desktop/research/FMR_MZR/lg12_all_global_tab.csv')
all_lg12_radec_round = pd.Series([3, 3], index=['RASDSSinfo', 'DecSDSSinfo'])
all_lg12_sample_df = all_lg12_sample_df.round(all_lg12_radec_round)

pipe3d_integrated_df = pd.read_csv('/Users/mmckay/Desktop/research/FMR_MZR/lg12_MMfits/lg12_intergrated_measure_pipe3D.csv')

# merge MaNGA galaxies slected with final DR16 table
ifu_global_df_merge = pd.merge(left=lg12_ifu_match_df, right=all_lg12_sample_df, left_on='Objra', right_on='RASDSSinfo', how='left')
# gz2_sdss_merge = pd.merge(left=ifu_global_df_merge, right=all_lg12_sample_df, left_on='SDSS_RA_deg_x', right_on='RASDSSinfo', how='left')
pipe3d_int_merge= pd.merge(left=ifu_global_df_merge, right=pipe3d_integrated_df, left_on='plateifu', right_on='plateifu', how='left')
pipe3d_int_merge.drop_duplicates(subset='plateifu', inplace=True)
pipe3d_int_merge.to_csv('/Users/mmckay/Desktop/research/FMR_MZR/lg12_ifu_global_table.csv')

# Merge the catalogs into one dataset

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,Objra_x,Objdec_x,mangaid_x,plateifu,nsa_z_x,SDSS_RA_deg_x,SDSS_DEC_deg_x,...,P(Sd),P(Sdm),P(Sm),P(Irr),best_type_n,best_type,nsa_nsaid,Vmax_w,Num_w,QCFLAG
0,0,0,8,132.912768,57.107424,1-48136,10001-3702,0.025606,132.912735,57.107433,...,0.001592,0.000022,0.000157,0.002991,1.0,NaN,51205.0,5.670600e-06,68.4455,0.0
1,1,1,268,117.993013,15.711410,1-412058,10217-6103,0.047002,117.992996,15.711414,...,0.002194,0.000041,0.000216,0.007164,3.0,NaN,435793.0,2.332030e-06,28.1482,0.0
2,2,2,1852,202.203974,53.442921,1-195979,11758-1901,0.025357,202.203979,53.442905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,1887,192.768552,48.408575,1-283903,11760-1902,0.049425,192.768509,48.408554,...,0.001025,0.000012,0.000087,0.002255,-1.0,NaN,300170.0,2.905080e-07,3.5065,0.0
4,4,4,1972,214.930149,49.236646,1-320796,11827-1902,0.025528,214.930115,49.236649,...,0.000615,0.000008,0.000060,0.001096,-1.0,NaN,339547.0,4.497910e-06,54.2908,0.0
5,5,5,3708,18.437294,15.683427,1-40810,12094-1901,0.044276,18.437267,15.683413,...,0.001749,0.000024,0.000172,0.001968,3.0,NaN,43475.0,2.065810e-06,24.9349,0.0
6,6,6,5705,163.219110,43.428404,1-255878,8254-1902,0.024237,163.219131,43.428398,...,0.001455,0.000020,0.000143,0.001355,1.0,NaN,270838.0,7.663000e-06,92.4942,0.0